[submodule "smartclub-pi"]
	path = smartclub-pi
	url = https://github.com/meggrasse/smartclub-pi
[submodule "smartclub-ios"]
	path = smartclub-ios
	url = https://github.com/meggrasse/smartclub-ios
[submodule "smartclub-dj"]
	path = smartclub-dj
	url = https://github.com/meggrasse/smartclub-dj
[submodule "smartclub-server"]
	path = smartclub-server
	url = https://github.com/meggrasse/smartclub-server
